{% extends 'base.html' %}
{% block content %}
<div class="mt-4" aria-label="login page">
<div class="container border border-dark py-5">
<div class="row align-items-center gy-4 gy-md-1">
    <div class="col-6 align-items-center">
        <h2 class="text-center">Inscrivez vous maintenant</h2>
        <div class="text-center">
        <a href="{% url 'signup' %}" class="btn btn-secondary">S'incrire</a></div>
        </div>
    <div class="col-6 align-items-center">
        <div class="row">
        <div class="text-center">
        <h2 >Connectez-vous</h2>
        <div class="col-3"></div>
        <div class="form-group col-8 text-end">
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <div class="container">
                <button type="submit" class="btn btn-secondary justify-content">Se connecter</button>
                </div>
            </form>
        </div>
        <div class="col-1"></div>
    </div>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}