{% extends 'base.html' %}
{% block content %}
<div class="container px-2 my-3">
    <div class="row align-items-center">
        <div class="text-center">
        <h2 class="fw-bold ">Créer une critique</h2></div>
            <div class="border border-dark pb-4" style="background-color: rgb(227, 237, 248);">
                <h3 class="m-3 text-decoration-underline">Livre / Article : </h3>
                <h4 class="m-3">Titre</h4>
                <div class="border border-dark col-12"><p><br></p></div>
                <h4 class="m-3">Description</h4>
                <div class="border border-dark row-6 col-12"><p><br></p></div>
                <h4 class="m-3">Image</h4>
                <button class="btn btn-secondary">Télécharger Fichier</button>
            <hr>
            <div class="container m-2">
                <h3 class="m-3 text-decoration-underline">Critique</h3>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                        <label for="{{ form.rating.id_for_label }}">{{ form.rating.label}}</label>
                        <div class="form-check form-check-inline">
                            {% for radio in form.rating %}
                                <label class="form-check-label">
                                    {{ radio}}
                                </label>
                            {% endfor %}
                        </div>
                        {{ review_form.as_p }}
                        </div>
                        <div class="py-4">
                        <button type="submit" class="btn btn-secondary col-12 h-100">Poster</button></div>
                    </form> 
                </div>
            </div> 
        </div>          
    </div>
</div>
{% endblock content %}