
{% extends 'base.html' %}
{% block content %}
<div class="container px-2 my-3" aria-label="edit review">
    <div class="border border-dark">
    <div class="row align-items-center ">
        <div class="text-center">
            <h3>Modifier la critique</h3>
            <form method="post">
                {{ edit_form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary mb-2">Sauvegarder</button>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock content %}