{% extends 'base.html' %}
{% block content %}
<div class="container my-5" aria-label="Follow Unfollow Form">
    <div class="border border-dark p-4">
    <div class="row align-items-center">

        <h3 class="m-2 text-center">Suivre d'autres utilisateurs</h2>
        <div class="border border-dark p-2"  style="background-color: rgb(251, 251, 247);">
            <div class="row">
                <div class="col-6">
            <form id="follow-users-form" method="post">
                {{form.as_p}}
                {% csrf_token %}
            </div>
                <div class="text-end col-6">
                <button type="submit" class="btn btn-secondary">Suivre</button> 
            </div>
            </form> 
        </div>
            
        </div>          
    </div>
    <div class="row">
        <h3 class="m-2 text-center">Abonnements</h3>
        <div class="border border-dark p-2"  style="background-color: rgb(251, 255, 247);">
        <ul class="list-unstyled">
            {% if followings %}
                {% for following in followings %}
                    <li class="border border-dark m-1 p-2"> {{ following.followed_user.username}}
                        <form action="{% url 'unfollow_user' following.followed_user.id %}" method="post" style="display:inline;" onsubmit="return confirm('Voulez vous vraiment arrêter de suivre cet utilisateur ?')">
                            {% csrf_token %}
                            <div class="text-end">
                            <button type="submit" class="btn btn-secondary btn-sm">Désabonner</button></div>
                            </form>
                    </li>
                {% endfor %}
            {% else %}
                <p>Vous ne suivez aucun autre utilisateur</p>
            {% endif %}
        </ul>
    </div>
    </div>
    <div class="row">
        <h3 class="m-2 text-center">Abonnés</h3>
        <div class="border border-dark p-2 "  style="background-color: rgb(250, 245, 253);">
        <ul class="list-unstyled">
            {% if followers %}
                {% for follower in followers %}
                <li class="border border-dark m-1 p-2"> {{ follower.user.username}} </li>
                {% endfor %}
            {% else %}
                <p>Vous n'avez aucun abonné</p>
            {% endif %}
        </ul>
    </div>
    </div>
    <div class="text-end m-2 pt-1">
        <a href="{% url 'block_view' %}" class="btn btn-secondary">Bloquer un utilisateur</a>
    </div>
</div>
</div>
{% endblock content %}